html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px 0px 0px 0px;
    background-color: white;
    color: black;
    scrollbar-width: none;
    display: flex;
    flex-flow: column;
    /* max-height: 100vh; */
    /* 最初はオフにしておいて後でfadeinすることでちらつき対策 */
    visibility: hidden;
}

#content {
    flex: 1;
}

a {
    color: rgb(0, 102, 255);
}