body {
    margin: 0px 0px 0px 0px;
    background-color: white;
    color: black;
    scrollbar-width: none;
}

a {
    color: rgb(0, 102, 255);
}

#top {
    /* display: none; */
}

.headerImage {
    position: relative;
}

.headerImage img {
    color: black;
    width: 100%;
    height: 80px;
    vertical-align: bottom;
}

.headerImage p {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 3em;
    /* フォントいい感じのやつにする */
    font-family: Quicksand, sans-serif;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.NoWrap {
    white-space: nowrap;
}

#menu {
    list-style: none;
    top: -100px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(0, 78, 109);
}

#menu li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 2px;
    border-left-width: 2px;
    margin: auto;
    /* background-color: rgb(17, 75, 17); */
}

#menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    display: block;
    /*クリックできる範囲を広げる*/
}

#content {
    /* 最初はオフにしておいて後でfadeinすることでちらつき対策 */
    display: none;
}