:root {
    --arrow-color: gray;
    /* 設定エリアのアイコンの色 */
    --congig-icon: rgb(54, 54, 54);
}

#myCanvas1 {
    background-color: rgb(120, 131, 131);
}

#myCanvas2 {
    background-color: rgb(120, 131, 131);
}

#myCanvas3 {
    background-color: rgb(28, 29, 29);
}

#canvas_wrapper {
    /* width: 400px; */
    display: table-cell;
    margin: auto auto;
    padding-left: 150px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#canvas_wrapper2 {
    display: table-cell;
    /* width: 400px; */
    margin: auto auto;
    padding-right: 150px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#canvas_wrapper3 {
    /* width: 400px; */
    margin: auto auto;
    padding-right: 150px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#wholeCanvas {
    background: lightgray;
    display: table-cell;
    /* IE8から使用可能 */
    vertical-align: middle;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

#message {
    background: rgb(255, 150, 150);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    vertical-align: middle;
}

#message h1 {}

#operation {
    width: 100%;
    margin-bottom: 90px;
    margin-top: 0px;
}

#operation ul {
    list-style: none;
    /* overflow: hidden; */
    width: max-content;
}

#operation ul li {
    float: left;
}

.arrowright {
    display: inline-block;
    height: 20px;
    width: 100px;
    background-color: var(--arrow-color);
    position: relative;
    top: 20px;
}

.arrowright h1 {
    margin: -10px 0px 0px -30px;
}

.arrowright:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left: 40px solid var(--arrow-color);
    left: 100px;
    top: -10px;
}

.arrowleft {
    display: inline-block;
    height: 20px;
    width: 100px;
    background-color: var(--arrow-color);
    position: relative;
    top: 20px;
}

.arrowleft h1 {
    margin: -10px 0px 0px 110px;
}

.arrowleft:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right: 40px solid var(--arrow-color);
    right: 100px;
    top: -10px;
}

#announcement {
    user-select: none;
    animation: flash 2s linear infinite;
    animation-play-state: running;
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* 本体左 */

.volume {
    font-size: 100px;
    position: relative;
    width: 0.1em;
    height: 0.1em;
    background-color: var(--congig-icon);
}

/* 本体右 */

.volume::before {
    content: "";
    position: absolute;
    top: -0.15em;
    left: 0;
    width: 0;
    height: 0;
    border-top: 0.2em solid transparent;
    border-bottom: 0.2em solid transparent;
    border-right: 0.3em solid var(--congig-icon);
}

/* 音量1 */

.volume1 {
    position: absolute;
    top: -0.13em;
    left: -0.15em;
    width: 0.45em;
    height: 0.2em;
    border-top: 0.1em solid transparent;
    border-left: 0.05em solid transparent;
    border-right: 0.05em solid var(--congig-icon);
    border-bottom: 0.1em solid transparent;
    border-radius: 100%;
}